html body {
  background-color: aqua;
  //colour degeulasse pour voir "html body"
}

.app {
  width: 90vh;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}


